    <!-- Content -->
    <div class="container text-center">
      <div id="messages">{{ flash.output() }}</div>
      <div class="jumbotron">
        <img src="{{ url("img/casper.png") }}" class="img-rounded">
        <h1>Welcome to Casper Liker</h1>
        <p class="lead">Casper Liker help you to increase Facebook Likes on your Post, Picture, Videos, Shares, and other Facebook's post. Improve your social strength, and be famous from your friends Now. IT'S ALL FREE</p>
        <button type="button" class="btn btn-primary btn-lg">GET STARTED</button>
      </div> 
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-ban-circle glyphicon-3x" aria-hidden="true"></span>
          <h3 class="center">No Spam !</h3>

          <p>We never spaming on your Account. Our autoliker is totally spam free.</p> 
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-thumbs-up glyphicon-3x" aria-hidden="true"></span>
          <h3>Instant Likes</h3>

          <p class="light center-align">Get instant 350 likes per submit and UP-TO 15.000 Likes on your statuses, pictures, albums, and other Posts for <b>FREE</b>.</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-ok-circle glyphicon-3x" aria-hidden="true"></span>
          <h3>Trusted Sites</h3>

          <p class="light center-align">We have online since 2012 and always keep online to help you Provide free services.</p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-6">
          <span class="glyphicon glyphicon-globe glyphicon-3x" aria-hidden="true"></span>
          <h3>Geo Likes</h3>

          <p class="light center-align">We provide likes both from your own country and international likes!</p>
        </div>
        <div class="col-md-6">
          <span class="glyphicon glyphicon-cog glyphicon-3x" aria-hidden="true"></span>
          <h3>Customize Likes</h3>

          <p class="light center-align">Choose number of the likes as you want! You can choose between 10-350 Likes per submit!</p>
        </div>
      </div>
    </div><br/><br/><br/><br/><br/>


    <div class="container text-center">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Methods For Login To Casper Liker</h3>
        </div>
        <div class="panel-body">
          <div>
            We use Access Token Based Authentication. Token is a Private KEY generated by facebook that we needed to be able giving free Likes. Please follow steps below to get your own Access Token and you can use your Access Token to login to our Website.
          </div><br/>

          <div>
            <button type="button" class="btn btn-warning">STEP 1</button> <button type="button" class="btn btn-primary">CLICK HERE TO GENERATE NEW TOKEN!</button> <button type="button" class="btn btn-warning">WATCH VIDEO</button>
          </div><br/>
          <div>
            <button type="button" class="btn btn-warning">STEP 2</button> <button type="button" class="btn btn-primary">CLICK HERE TO GET ACCESS TOKEN!</button> <button type="button" class="btn btn-warning">WATCH VIDEO</button>
          </div><br/>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              {{ form('session/start') }}
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" placeholder="EAAAACZAVC6ygBAI0X1MYChwp12oHYKFsyhCEHIVtGWPh58wo23UbZAWDC0EqBgmtUGFk30qiF9DspEZBY">Access Token</button>
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </div>
                  {{ text_field('access_token', 'class': 'form-control')}}
                <div class="input-group-btn">
                  {{ submit_button('register', 'class': 'btn btn-primary') }}
                </div>
              </div>
            </form>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div><br/><br/><br/><br/>
