<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">CUSTOM LIKER</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body ">
			{{ form('liker/page/id/1') }}
				<div class="input-group col-md-12">
					<input type="text" name="fbid" class="form-control" placeholder="Your Page ID here...">
				</div>
				{{ submit_button('Submit', 'class' : 'btn btn-primary') }}
			{{ end_form() }}
		</div>
	</div>
</div>
{% for page in pages %}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<img src="http://graph.facebook.com/{{ page['id'] }}/picture?type=large&redirect=true&width=120&height=120" alt="fbid" class="img-rounded pull-left">
			<h3>{{ page['name'] }}</h3>
			<div>
				{{ page['category'] }}
			</div><br/>
			<a href="{{ url('liker/page/id/') }}{{ page['id'] }}" class="btn btn-primary">Submit</a>
		</div>
	</div>
</div>
{% endfor %}